.login {
	width: 100vw;
	height: 100vh;
	background-color: #f0f2f5;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loginWrapper {
	width: 70%;
	height: 70%;
	display: flex;
}
.loginWrapperLeft,
.loginWrapperRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.loginLogo {
	font-size: 50px;
	font-weight: 800;
	color: #1775ee;
	margin-bottom: 10px;
}
.loginDesc {
	font-size: 24px;
}
.registerBox {
	height: 400px;
	padding: 20px;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	margin-left: 30px;
	flex-direction: column;
	justify-content: space-between;
}
.loginInput {
	height: 50px;
	border-radius: 10px;
	border: 1px solid gray;
	padding-left: 20px;
	font-size: 18px;
}
.loginInput:focus {
	outline: none;
}
.loginButton {
	height: 50px;
	border-radius: 10px;
	border: none;
	background-color: #1775ee;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}
.loginForgot {
	text-align: center;
	color: #1775ee;
}
.loginRegisterButton {
	align-self: center;
	background-color: #42b72a;
	width: 100%;
}
.linkButton {
	width: 100%;
}
